* {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
body {
  margin: 0;
  padding: 0;
  font-family: Sans-Serif;
          color: black;
            -webkit-background-size: cover;
            background-size: cover;
            background-position: center center;
            height: 100vh;
            font-weight: 300;
            font-size: 12px;
        }
.navbar { 
padding-left: 50px;
padding-top: 30px;
}

       nav {
   height: 5vh;
         padding-bottom: 20px;
  
}

.nav-links {
  display: flex;
  list-style: none;
  width: 50%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  
}

.nav-links li a {
  color: #000000;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  
}
.headline {
 border: 1px solid grey;
    width: 100%;
    height: 60vh;
    display: flex;
   flex-direction: column;
   align-items: center;
  justify-content: center;
}

h1 {
  font-size: 44px;
}

.container {
  width: 100%;
  height: auto;
  
  
  /*Incorporating Flexbox*/
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.box { 
  width: 100%;
  height: 300px;
  margin: 2px;
  box-sizing: boder-box;
  font-size: 25px;
  border: 1px solid grey;
  text-align: center;
  font-size: 25px;
}


.footer {
  text-align: center;
  padding-bottom: 12px;
  padding-top: 12px;
}
   

/*Adding Media Queries for responsivity*/
  @media screen and (max-width:600px) {
     .line {
    width: 30px;
    height: 3px;
    background: black;
    margin: 5px;
  }
  nav {
     height: 3vh;
    }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
     padding-bottom: 30px;
  }

  .nav-links {
    position: fixed;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
 
  
  .nav-links li {
    opacity: 0;
    }
  
    .container {
      display: flex;
      flex-direction: column;
    }
    
    .box {
      width: 100%;
  }
    }
    
      @media screen and (max-width:916px) {
    .line {
    width: 30px;
    height: 3px;
    background: black;
    margin: 5px;
  }
  nav {
    position: relative;
    margin-bottom: 10px
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }

  .nav-links {
    position: fixed;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
 
  
  .nav-links li {
    opacity: 0;
    }
    .container {
      display: flex;
      flex-direction: column;
    }
    
    .box {
      width: 100%;
  }
    }
    
    